{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
        <title>Hospital Patient Form</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


    </head>
    <body>
    <div class = "container mt-5">
            <h2 class="text-center alert-danger">Update Informations</h2>
    </div>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>


            <div class="col-sm-6">
                <form action="" method="post">
                 {% csrf_token %}
                 {{ form.as_p }}
                 <input type="submit" class="btn btn-success" value="Update" >
                    <a href="{% url 'formshow' %}" class="btn btn-success">Back to Home</a>
                 </form>
            </div>






    </form>
    </body>